<div class="image-container">
  <div class="centered-text">
    <h1>All Lists</h1>
  </div>
</div>

<div class="btn-container">
  <%= link_to "Create New List", new_list_path, class: "btn-new-list" %>
</div>

<div class="lists-container">
  <% @lists.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |list| %>
        <div class="card">
          <%= image_tag 'https://source.unsplash.com/random/', class: 'card-img' %>
          <div class="card-text">
            <%= link_to list.name, list_path(list) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
